

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Н<i class="fa fa-circle"></i>ВИНИ КІНО</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">ГОЛОВНА</a></li>
          <li><a href="/videotrailers">ТРЕЙЛЕРИ</a></li>
          <li><a href="/videokritiks">КІНОКРИТИКА</a></li>
          <li><a href="/articleenglishs">ФІЛЬМИ НА АНГЛІЙСЬКІЙ</a></li>
          <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>